$primaryAccent: #fca311;
$primaryWhite: #f5f5f5;
$primaryDarkBlue: #0f0f13;
$primaryBG: #0d0d0e;
// $primaryBG: #09080e;

$secondaryDarkGrey: #22222b;
$secondaryLightGrey: #a7a7a7;

$osCloseRed: #e81123;
